# Build output
_site/

# Bundler dependencies
.bundle/
vendor/bundle/
vendor/cache/
Gemfile.lock

# Jekyll caches
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# OS and editor files
.DS_Store
node_modules/
